apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "haproxy.fullname" . }}-configmap
  labels:
  {{- include "haproxy.labels" . | nindent 4 }}
data:
{{- range $key, $value := .Values.configFiles }}
  {{ $key }}: |-
  {{ $value | default "" | nindent 4 }}
{{- end -}}