name: Pull Request checker

on: pull_request

jobs:
  lint-test:
    strategy:
      matrix:
        k8s: [1.12.10, 1.14.10, 1.16.15, 1.17.17, 1.18.19, 1.19.11, 1.20.7]
    runs-on: ubuntu-latest
    env:
      CT_CHART_DIRS: charts
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Fetch history
        run: git fetch --prune --unshallow

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint

      - name: Create kind cluster
        uses: helm/kind-action@v1.0.0
        # Only build a kind cluster if there are chart changes to test.
        if: steps.list-changed.outputs.changed == 'true'
        with:
          node_image: kindest/node:v${{ matrix.k8s }}
          cluster_name: k8s-${{ matrix.k8s }}

      - name: Run chart-testing (install)
        run: ct install